[submodule "qtpedometer"]
	path = qtpedometer
	url = git://github.com/radekp/qtpedometer.git
[submodule "qtopiagps"]
	path = qtopiagps
	url = git://github.com/radekp/qtopiagps.git
[submodule "arora-neo"]
	path = arora-neo
	url = git://github.com/Sektor/arora-neo.git
[submodule "qtbackup"]
	path = qtbackup
	url = git://github.com/ghislain/qtbackup.git
