[Translation]
File=QtopiaApplications
Context=VNC
Comment[Desktop Entry/Name]=Virtual Network Computing (VNC) Viewer
[Desktop Entry]
Type=Application
Exec=keypebble
Icon=keypebble/keypebble
Type=Application
Name[]=VNC
